* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth; /*Hace que el scroll sea suave*/
}

.logo {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 40%;
    margin-bottom: 30px;
}

.container{
    position: fixed;
    width: 90%;
    max-width: 1200px;
    display: block;
}

.container label{
    color: #007D55;
    font-size: 35px;
    cursor: pointer;
    margin-left: 15px;
}

#btn-menu-open,
#btn-menu-close{
    display: none;
}

.container-menu{
    position: relative;
    position: fixed;
    z-index: 3;
    width: 100%;
    height: 100%;
    top:0;left:0;
    transition: all 500ms ease;
    visibility: hidden;

}
#btn-menu-open:checked ~ .container-menu,
#btn-menu-close:checked ~ .container-menu{ /*Cuando el checkbox está seleccionado se le pondrá el estilo a la clase container-menu*/
    opacity: 0;
    visibility: hidden;
}
.cont-menu{
    width: 100%;
    max-width: 250px;
    background: rgb(0, 0, 0);
    height: 100%;
    position: fixed;
    transition: all 500ms ease;
    transform: translateX(-100%);
}
#btn-menu-open:checked ~ .container-menu .cont-menu,
#btn-menu-close:checked ~ .container-menu .cont-menu{ /*Cuando el checkbox está seleccionado se abre el menu*/
    transform: translateX(0%);
}
.cont-menu nav{
    transform: translateY(15%);
}
.cont-menu nav a{
    display:block;
    text-decoration: none;
    padding: 20px;
    color: white;
    transition: all 400ms ease;
    font-family: 'Orbitron', sans-serif;
}
.cont-menu nav a:hover{
    border-left: 5px solid #34b3a0;
    background: rgba(0,0,0,0.5);
    padding-left: 30px;
}
.cont-menu label{
    position: absolute;
    right: 5px; 
    top: 10px;
    font-size: 18px;
    color: white;
    cursor: pointer;
    transition: all 500ms ease;
}