* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth; /*Hace que el scroll sea suave*/
}
body {
    background: linear-gradient(to top, #007D55, white);
}
h1{
    color: #007D55;
    text-align: center;
    margin-top: 70px;
}

.logo {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 80%;
    margin-bottom: 30px;
}
.botones {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 20px;
}

.boton {
    color: black;
    font-weight: bold;
    background-color: rgb(218, 215, 215);
    text-decoration: none;
    padding: 10px;
    margin: 10px;
    width: 40%;
    border-radius: 5px;
}

.boton:hover {
    background-color: #007D55;
    color: white;
    font-weight: bold;
}
.slider{    /*Slider de la primera página*/
    margin-top: 10px;
    width: 100%;
    overflow: hidden;
    margin: auto;
    position: fixed;
    bottom: 0;
}


.slider ul{
    width: 500%;
    animation: cambio 15s infinite alternate linear;
    padding: 0;
    display: flex;
}
.slider img{
    width: 100%;
}

.slider li{
    list-style: none;
    width: 100%;
    flex-grow: 1;
}

.slider img{
    width: 100%;
}
.slider :hover{
    animation-play-state: paused;
    transform: scale(1.1);
    transition: transform .2s;
}
@keyframes cambio{  /*Animación del slider*/
    0%{margin-left: 0;}
    16.66%{margin-left: 0;}
    20%{margin-left: -100%;}
    36.66%{margin-left: -100%;}
    40%{margin-left: -200%;}
    56.66%{margin-left: -200%;}
    60%{margin-left: -300%;}
    76.66%{margin-left: -300%;}
    80%{margin-left: -400%;}
    100%{margin-left: -400%;}
}


