* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth; 
}

header {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    height: 70px;
}

.logo {
    width: 22%;
}

.logo-p {
    width: 6%;
    position: fixed;
    right: 0;
    margin-right: 50px;
}


h1 {
    color: #007D55;
    width: 70%;
    text-align: center;
    margin-top: 50px;
    padding-bottom: 10px;
    font-family: 'NATS', sans-serif;
    font-size: 25px;
    border-bottom: 2px solid #007D55; 
}
.clientes {
    display: flex;
    justify-content: center;
    width: 100%;
}
.cliente {
    position: relative; 
    border: 2px solid #007D55;
    border-radius: 20px;
    padding: 20px;
    width: 280px;
    height: 220px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.cliente h2{
    color: black;
    font-weight: bold; 
    text-align: center;
    margin-top: 2px;
    font-family: 'NATS', sans-serif;
    font-size: 16px;
    margin-bottom: 10px;
}

.cliente li{
    margin-left: 30px;
    color:#007D55;
    font-family: 'Montserrat';
}
.cliente p{
    margin-left: 30px;
    margin-top: 50px;
    font-weight: bold;
    font-family: 'Montserrat';

}

.lista-clientes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5rem;
    margin-top: 50px;
}


.botones {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.boton {
    color: black;
    font-weight: bold;
    background-color: rgb(218, 215, 215);
    text-decoration: none;
    padding: 15px;
    margin: 10px;
    width: 50%;
    border-radius: 5px;
    margin-bottom: 30px;
}
.boton_principal {
    color: white;
    font-weight: bold;
    background-color: #007D55;
    text-decoration: none;
    padding: 15px;
    margin: 10px;
    width: 50%;
    border-radius: 5px;
    margin-bottom: 5px;
}