* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth; 
}

header {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    height: 70px;
}

.logo {
    width: 22%;
}

.logo-c {
    width: 6%;
    position: fixed;
    right: 0;
    margin-right: 50px;
}

.preguntas {
    display: flex;
    justify-content: center;
    width: 100%;
}

h1 {
    color: #007D55;
    width: 70%;
    text-align: center;
    margin-top: 50px;
    padding-bottom: 10px;
    font-family: 'NATS', sans-serif;
    font-size: 25px;
    border-bottom: 2px solid #007D55; 
}

.lista-preguntas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5rem;
    margin-top: 50px;
}

.pregunta {
    position: relative; 
    border: 2px solid #007D55;
    border-radius: 20px;
    padding: 20px;
    width: 280px;
    height: 220px;
}

.pregunta h2{
    color: black;
    font-weight: bold; 
    text-align: center;
    margin-top: 2px;
    font-family: 'NATS', sans-serif;
    font-size: 16px;
}

.pregunta .texto{
    color: black;
    padding: 10px;
    font-family: 'Montserrat';
    font-size: 15px;
    text-align: center;
}

.respuesta{
    position: absolute; 
    bottom: 20px; 
    display: flex;
    left: 0;
    width: 100%;
    padding-left: 12px;
    padding-right: 12px;
    justify-content: center;
    align-self: flex-end;
}

#respuesta {
    background-color: rgb(231, 231, 231);
    border: none;
    border-radius: 20px;
    width: 90%;
    padding: 8px;
    font-family: 'Montserrat';
    font-size: 12px;
}

.boton-enviar {
    margin-left: 5px;
    border: none;
    background-color: transparent;
    font-size: 24px;
    cursor: pointer;
}